@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Montserrat', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(185, 185, 185);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f6490d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f6490d;
  }
}

.main-heading {
  @apply text-myBlue text-[44px] font-extrabold leading-[60px] md:text-[56px] md:leading-[78px];
}

.sub-heading {
  @apply text-myBlue text-[32px] font-bold leading-[34.32px] md:leading-[35.52px];
}

.main-para {
  @apply text-[22px] font-medium leading-[34.32px] md:text-[24px] md:leading-[35.52px];
}

.para {
  @apply text-[18px] font-normal leading-[27.36px];
}

.button {
  @apply cursor-pointer text-[14px] font-semibold uppercase;
}
